# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
.env

# Uploads
backend/uploads/*

# VS Code
.vscode/

# Node
frontend/node_modules/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
# Environment files
.env
**/.env

# Python
__pycache__/
*.pyc
.venv/
venv/

# Node
node_modules/
dist/